html, body{
  height: 100%;
	margin: 0;
	padding: 0;	
	font-size: 18px;
	font-family: 'Raleway',sans-serif;
}


.slideshow{
	position:relative;
	width:100%;
	overflow: hidden;
}
.image{
	position:relative;
	width: 100%;
	margin-bottom: -5px;
}
.slideshow_container{
	color: white;
	width: 400%;
	overflow: hidden;
	position: relative;
		-webkit-transition:  1s ease-in-out;
    -moz-transition: translateX 1s ease-in-out;
    -o-transition: translateX 1s ease-in-out;
    transition:  1s ease-in-out;
}
.slide_button_left{
	position: absolute;
	top:250px;
	left:20px;
	font-weight: 900;
	opacity: 0.7;
	font-size:4em;
	color: white;
	z-index: 5;
	cursor: pointer;
}
.slide_button_right{
	position: absolute;
	top:250px;
	right: 20px;
	font-weight: 900;
	opacity: 0.7;
	font-size:4em;
	color: white;
	z-index: 5;
	cursor: pointer;
}
.find_find{
	cursor: pointer;
}
.slide_wrapper{
	width: 21%;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
	position: relative;
	height: 700px;
	overflow: hidden;

}
.slide_wrapper_1{
	background-image: url("images/slideshow1.jpg");
		background-size: cover;
}
}
.slide_wrapper_1_container{
	text-align: right;
	padding-left: 20%;
}
.slide_wrapper_1_title{
	padding-top: 200px;
	font-size: 3em;
	font-weight: 600;

}
.slide_wrapper_1_subtitle{
	font-size: 1em;
	padding-top: 30px;
	padding-bottom: 30px;
}
.slide_wrapper_find{
	text-align: center;
	border: 2px solid white;
	border-radius: 2px;
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: white;
	width: 140px;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
	
}

.slide_wrapper_2{
	background-image: url("images/slideshow2.jpg");
	background-size: cover;
}
.slide_wrapper_2_container{
	margin:0 auto;

}
.slide_wrapper_2_title{
	padding-top: 200px;
	font-size: 3em;
	font-weight: 600;
	text-align: center;
	letter-spacing: 2px;	
}
.slide_wrapper_2_subtitle{
	font-size: 1em;
	padding-top: 30px;
	padding-bottom: 30px;	
	text-align: center;
}
.slide_wrapper_find_2{
	text-align: center;
	border: 2px solid white;
	border-radius: 2px;
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: white;
	width: 140px;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
	margin:0 auto;
}
.slide_wrapper_4{
	text-align: right;
	background-image: url("images/slideshow4.jpg");
	background-size: cover;
}
.slide_wrapper_3{
	background-image: url("images/slideshow3.jpg");
	background-size: cover;
	text-align: right;
}
.slide_wrapper_3_container{
	text-align: right;
	margin-right: 10%;
}
.slide_wrapper_3_title{
	padding-top: 200px;
	font-size: 3em;
	font-weight: 600;

}
.slide_wrapper_3_subtitle{
	font-size: 1em;
	padding-top: 30px;
	padding-bottom: 30px;
}
.tine_dreapta{
	float: right;
}
.slide_wrapper_find_3{
	text-align: center;
	border: 2px solid white;
	border-radius: 2px;
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: white;
	width: 140px;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;

}

.buy{
	position: relative;
	width: 100%;
	height: 150px;
	background-color:  #f63440;
	color: white;
	font-family: 'Raleway',sans-serif;
	text-align: center;
}
.buy_left{
	position: relative;
	float: left;
	width: 50%;
	font-size: 24px;
	height: 150px;
}
.buy_left_text{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.buy_right{
	position: relative;
	float:right;
	width: 50%;
	font-size: 13px;
	height: 150px;
}
.buy_right_text{
	 top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
	border: 2px solid white;
	border-radius: 2px;
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: white;
	margin: 0 auto;
	width: 220px;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
}
.float_clear{
	clear: both;
}
.jean_om_fericit{
	position: relative;
	background-color: white;

}
.about_jean{
		padding-left: 5%;
		padding-right: 5%;
		position: relative;
		float: left;
		width: 55%;
		font-family: 'Raleway',sans-serif;
		color: #2f3035;
}
.about_jean_mini_title{
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	margin-top: 150px;
}
.about_jean_big_title{
	width: 90%;
	text-align: left;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 2px;
	transition: 1s ease-in-out;
	
}
.about_jean_text{
	width: 80%;
	font-size: 14px;
	margin-top: 30px;
	letter-spacing: 1px;
	line-height: 150%;
	margin-bottom: 50px;
	transition: 1s ease-in-out;
}
.red_line{
	margin-top: 10px;
	border-bottom: 3px solid #f63440;
	width: 25px;
	margin-bottom: 10px;
}
.pic_jean{
	margin-top: -550px;
	position: relative;
	float: right;
	width: 45%;
}
.pic_size{
	width: 100%;
}
.pic_size2{
	position: relative;
	width: 80%;
	margin:0 auto;

}
.grey_line{
	margin-top: 10px;
	border-bottom: 1px solid grey;
	width: 100%;
	margin-bottom: 10px;
}
.wwd{
	position: relative;
	width: 100%;
	background-color: white;
	color: #2f3035;
	font-family: 'Raleway',sans-serif;
	padding-bottom: 400px; /!/
}
.wwd_title{
	padding-top: 50px;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Raleway',sans-serif;
	letter-spacing: 3px;
	padding-bottom: 30px;
}
.wwd_title_white{
	padding-top: 50px;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	color: white;
	font-family: 'Raleway',sans-serif;
	letter-spacing: 3px;
	padding-bottom: 10px;
}
.red_line_2{
	padding-top: 15px;
	margin-top: 10px;
	border-bottom: 3px solid #f63440;
	width: 45px;
	margin-bottom: 10px;
	margin:0 auto;
}
.table{
	position: relative;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}
.table_wrapper{
	position: relative;
	width: 100%;
	padding-top: 100px;
	font-family: 'Raleway',sans-serif;
}
.table_cell{
	position: relative;
	float: left;
	text-align: center;
	width: 25%;
	font-family: 'Raleway',sans-serif;
}
.table_cell_wrapper{
	position: relative;
	width: 70%;
	margin:0 auto;
	font-style: 'Raleway',sans-serif;
	padding-bottom: 100px;
}
.table_cell_title{
	font-size: 16px;
	text-align: center;
	padding-top:20px;
	letter-spacing: 2px;
	padding-bottom: 10px;
	font-family: "Raleway",sans-serif;
}
.table_cell_content{
	font-size: 15px;
	text-align: center;
	font-weight: 300;
	font-family: 'Raleway',sans-serif;
}
.numbers{
	position: relative;
	width: 100%;
	background-color: #2d2d2d;
	color: white;
	font-family: "Raleway";
}
.numbers_wrapper{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
}
.numbers_cell{
	padding-top:50px;
	position: relative;
	float: left;
	width: 25%;
	padding-bottom: 50px;
	 -webkit-transition: 3s ease-in-out;
    -moz-transition: 5s ease-in-out;
    -o-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
}
.white_line{
	padding-top: 15px;
	margin-top: 10px;
	border-bottom: 3px solid white;
	width: 45px;
	margin-bottom: 10px;
	margin:0 auto;
}

.big_number{
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 4px;
}
.small_text{
	padding-top:10px;
	position: relative;
	margin:0 auto;
	font-size: 1em;
	letter-spacing: 1px;
}
.portofoliio{
	position: relative;
	width: 100%;
}
.sexy_table{
	position: relative;
	padding-right: 5%;
	padding-left: 5%;
	width: 90%;
}
.sexy_wrapper{
	position: relative;
	width: 100%;
	font-family: 'Raleway',sans-serif;
	
}
.sexy_cell{
	float: left;
	width: 33%;
	 transition: 1s ease-in-out;
}

.sexy_cell_image {
	width: 100%;
	height: 300px;
	background-size: cover;
	filter: grayscale(100%);
	-webkit-filter: grayscale(1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -moz-filter: grayscale(100%);
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  filter-transition: all 1s ease-in-out;
}

.sexy_cell_image:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-moz-filter: grayscale(0%);
}

.sexy_cell_image_1{
	background-image: url("images/sexy-1.jpg");
}

.sexy_cell_image_2{
	background-image: url("images/sexy-2.jpg");
}

.sexy_cell_image_3{
	background-image: url("images/sexy-3.jpg");
}
.sexy_cell_image_4{
	background-image: url("images/sexy-4.jpg");
}
.sexy_cell_image_5{
	background-image: url("images/sexy-5.jpg");
}
.sexy_cell_image_6{
	background-image: url("images/sexy-6.jpg");
}

.sexy_cell_content{
	width: 100%;
	border-left:  solid 1px #e5e5e5;
	border-right:solid 1px #e5e5e5;
}
.sexy_title{
	padding-top: 20px;
	text-align: center;
	font-size: 1em;
	font-family: 'Raleway',sans-serif;
	letter-spacing:  1px;
	font-weight: 900;
}
.sexy_mini_title{
	padding-top: 5px;
	text-align: center;
	font-weight: 14px;
	color: red;
}
.red_line_3{
	padding-top: 10px;
	border-bottom: 2px solid black;
	width: 60px;
	margin-bottom: 10px;
	margin:0 auto;
}
.space{
	padding-bottom: 100px;
}
.bottom_line{
	border-top: 2px solid #e5e5e5;
	margin-left: 5%;
	margin-right: 5%;
	width: 89.3%;
	margin-bottom: 100px;
}
.video_section{
	position: relative;
	width: 100%;
	height: auto;
	background-image: url("images/video-pattern.png");
	background-color: rgba(5,5,5,0.9);
}
.video_pic{
	
}
#videobcg { 
  position: relative;
  height: auto;
  width: 100%;
  left: 0px;
  top:0px;	
  z-index: -100;
}
.video_absolute_up{
	position: absolute;
	top:0px;
	width: 100%;	
}
.video_absolute_down{
	position: absolute;
	bottom:0px;
	width: 100%;	
}
.pi_centru{
	text-align: center;
}
.video_subtitle{
		padding-top: 50px;
		font-size: 1.5em;
  	text-align: center; 	
  	color: white;
}
.alt_absolut{
	position: absolute;
}
.halt{
	margin-bottom: -5px;
	width: 80%;
}
.space_4{
	padding-bottom: 50px;
}
.stay_there{
	width: 100%;
}
.stay_put{
	width: 100%;
	height: 300px;
}

.portofolio{
	padding-top: 100px;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
	padding-bottom: 0px;
}
.portofolio_cell{
	float: left;
	width: 25%;
	height: 300px;
	overflow: hidden;
	padding-bottom: 0px;
	 transition: 1s ease-in-out;
}
/* laba */
.portofolio_cell_slider{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 300px;
	 -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.below{
	margin-top:-10px;
	width: 100%;
	height:50px;
	background-color: #222222;
	color: white;
	text-align: center;
}
.below_text{
	padding-top: 25px;
}
.portofolio_cell_slider:hover{
	transform:translateY(-50px);
	-webkit-transition: -webkit-transform .5 ease-in-out;
}
.space_2{
	padding-bottom: 6em;
}
.space_3{
	padding-bottom: 100px;
}
.awesome_slider{
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding-top:150px;
	font-size: 20px;
	overflow: hidden;
}
.awesome_slider_wrapper{
	position: relative;
	width: 300%;
	overflow: hidden;
	-webkit-transition:  1s ease-in-out;
    -moz-transition: translateX 1s ease-in-out;
    -o-transition: translateX 1s ease-in-out;
    transition:  1s ease-in-out;
}
.awesome_slider_container{
	position:relative;
	float: left;
	width: 33%;
}
.dots{
	padding-top: 1em;
	text-align: center;
	margin: 0 auto;
}
.dots_align{
	display: inline-block;
}
.tiny_dots{
	cursor: pointer;
	display: block;
	height: 8px;
	width: 8px;
	border: 2px solid black;
	border-radius: 20px;
	margin: 5px 5px;
	background-color: black;
}
.tiny_dots:hover{
	background-color: red;
}
.talking{
	position: relative;
	width: 100%;
	height: 768px;
	background-image: url("images/talking shit.jpg");
	background-size: cover;
	background-position: 50%;
	box-sizing: border-box;
}
.feat{
	position: relative;
	width: 100%;
	background-color: #f6f6f6;
}
.contact{
	position: relative;
	width: 100%;
}
.contact_wrapper{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
.contact_container{
	width: 100%;
}
.contact_cell{
	float: left;
	width: 33%;
	font-family: "Raleway",sans-serif;
	font-weight: 300;
}
.contact_cell_container{
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}
.contact_title{
	padding-bottom: 10px;
	font-size: 1.3em;
	font-weight:600;
}
.contact_title:hover{
	cursor: pointer;
}
.slide_down{
	padding-bottom: 10px;
	display: none;
	width: 95%;
	margin-left: 5%;
}
.slide_down_2{
	display: block;
	padding-top:20px;
	letter-spacing: 1px;
}
.red_color{
	color: red;
}
.light_box{
	overflow-x:scroll; 
	position: fixed;
	margin-top: 0px;
	padding-top: 0px;
	width: 50%;
	top: 0px;
	font-size: 2em;
	left: 100%;
	height: 200vh;
	color: black;
	background-color: #f6f6f6;
	z-index: 7;
	text-align: center;
	 -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.obscure{
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;

	height: 100vh;
	background-color: #000014;
	opacity: 0.8;
	z-index: 6 ;
	visibility: hidden;

	-webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.fas{
	
	margin-top: 50px;
	letter-spacing: 2px;
}
.mare_x{
	cursor: pointer;
	float: right;
	width: 10%;
	font-size: 1em;
	border: 1px solid #000014;
	color: white;
	background-color: #000014;
	text-align: center;
	opacity: 0.8;

}
.light_pic{
	padding-top: 3em;
	width: 30%;
	text-align: center;
	height: auto;
}
.flipper_mom{
	color: white;
	position: relative;
	width: 100%;
	background-color: #212121;
	overflow: hidden;
}
.flipper_wrapper{
	position: relative;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	overflow: hidden;
}
.big_up{
	padding-bottom: 0px;
	font-size: 2.5em;
	color:white;
	font-weight: 0;
}
.flipper_wrapper_container{
	padding-top: 4em;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.brazi{
	text-align: center;
	padding-top: 4em;
	padding-bottom: 3.5em;
	letter-spacing: 1px;
	line-height: 130%;
}
.flip_cell{
	text-align: center;
	float: left;
	width: 29%;
	margin-left: 2%;
	margin-right: 2%;
	cursor: pointer;
	padding-bottom: 4em;
}

.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 200px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
.front{
	background-color: black;
}
.back{
	background-color: green
}
/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.back_2{
	background-color: #33CCFF;
}
.back_3{
	background-color: #666699;
}
.space_flip{
	padding-top: 3em;
}
.vertical_align{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	height: 50%;
	 -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  display: inline-block;
  word-wrap: break-word;
}

.map_canvas{
	margin-top: 3em;
	position: relative;
	width: 100%;
	height: 350px;
}

.feat_container{
	position: relative;
	padding-top: 3em;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.feat_container_cell_title{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
	font-weight: 600;
}
.feat_container_cell{
	font-family: 'Raleway';
	float: left;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	opacity: 0.8;
	line-height: 140%;
}
.ultimate_slider{
	position: relative;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	height: 500px;
	overflow: hidden;
}
.ultimate_slider_container{
	position: relative;
	width: 400%;
	height: 100%;
		-webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5 ease-in-out;
	}
.ultimate_slides{
	position: relative;
	float: left;
	width: 25%;
	height: 100%;
	overflow: hidden;
}
.ultimate_slides_pic{
 width: 100%;
 height: 100%;
 	-webkit-filter : grayscale(1);
 	-webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.slides_pic{
	width:100%;
	height:100%;

}
.ultimate_slides_pic:hover{
	-webkit-filter : grayscale(0);
		-webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.as_above_so_below{
	position: relative;
	width: 100%;
	height: 103%;
	background-color: black;
	opacity: 0.5;
		-webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.as_above_so_below_text{
	padding-top: 30px;
	opacity: 1;
	text-align: center;
	color: white;
	font-weight: 600;
	font-size: 2.5em;
}
.subscribe{
	position: relative;
	width: 100%;
	padding-top: 3em;
	text-align: center;
}
.subscribe_title{
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 2px

}
.input_text{
	margin-top: 20px;
	width: 30%;
	margin-bottom: 20px;
	min-width: 150px
}
.subscribe_button{
	background-color: #2f3035;
	color: white;
	border: 1px solid #2f3035;;
	border-radius: 4px;
	cursor: pointer;
	width: 150px;
	margin: 15px auto;
	font-weight: 600;
	letter-spacing: 3px;
	font-size: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
}
.subscribe_button:hover{
	border : 1px solid red;
}
@media only screen and (max-width: 900px){
/*
.slide_wrapper_1_title{videocascascac
	padding-top: 200px;
	font-size: 30px;
	font-weight: 600;

}
.slide_wrapper_1_subtitle{
	font-size: 1em;
	padding-top: 30px;
	padding-bottom: 30px;
}
.slide_wrapper_2_title{
	padding-top: 200px;
	font-size: ;
	font-weight: 600;

}
.slide_wrapper_2_subtitle{
	font-size: 1em;
	padding-top: 30px;
	padding-bottom: 30px;
}
.slide_wrapper_3_title{
	padding-top: 200px;
	font-size: 80%;
	font-weight: 600;

}
.slide_wrapper_3_subtitle{
	font-size: 1em;
	padding-top: 30px;
	padding-bottom: 30px;
}
.slide_wrapper_4_title{
	padding-top: 200px;
	font-size: 80%;
	font-weight: 600;

}
.slide_wrapper_4_subtitle{
	font-size: 1em;
	padding-top: 30px;
	padding-bottom: 30px;
}	
*/
html, body{
  height: 100%;
	margin: 0;
	padding: 0;	
	font-size: 15px;
	font-family: 'Raleway',sans-serif;
}
.ultimate_slider{
	height: 350px;
}
.slide_wrapper_4{
	text-align: center;
}
.flip_cell{
	width: 46%;
	margin-left: 2%;
	margin-right: 2%;
}
.about_jean{
	float: none;
	width: 100%;
	text-align: center;
}
.about_jean_big_title{
	font-size: 30px;
	text-align: center;
	width: 100%;
}
.about_jean_text{
	width: 100%;
}
.slide_wrapper_find_3{
		margin:0 auto;
		font-size: 1em;
}
.slide_wrapper_find{
	margin: 0 auto;	
	font-size: 1em;
}
.slide_wrapper_find_2{
	font-size: 1em;
}
.slide_wrapper_3{
	text-align: center;
}
.slide_wrapper_3_container{
	text-align: center;
	margin-left: 10%;
}
.slide_wrapper_1_container{
	text-align: center;
	
}
.tine_dreapta{
	float: none;
}
.about_jean{
width: 90%;
padding-top: 100px;
}
.about_jean_mini_title{
	margin-top: 0px;
}
.pic_jean{
	width: 100%;
	margin-top: 0px;
}
.red_line{
	padding-top: 10px;
	margin :0 auto;	
}
.avarie{
	padding-bottom: 30px;
}
.stricator{
		padding-top: 1300px;

}
.pic_size2{
	width: 25%;
}
.table_cell{
	width: 100%;
}
.cell{
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		padding-bottom: 50px;
}
.smecher_wrapper{
	width: 100%;
}
.numbers_cell{
	width: 50%;
	padding-bottom: 25px;
	padding-top: 25px;
}
.sexy_cell{
	width: 50%;
}
.portofolio_cell{
	width: 50%;
	margin-bottom: 35px;
}
.portofolio{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}
/*laba*/
@media only screen and (max-width: 768px){
.sexy_cell{
	width: 100%;
}
.buy{
	height: 230px;
	text-align: left;
	padding-left: 5%;
	width: 95%;
}	
.buy_left{
	width: 100%;
}	
.buy_right{
	width: 100%;
	float:left;
	width:20px;
}
.buy_right_text{
	top:0px;
	width: 150px;
	padding-left:10px;
}
}
@media only screen and (max-width: 650px){
.flip_cell{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 250px;
}
.flip-container, .front, .back {
	height: 240px;
}
.stay_put{
	height: auto;
}
.portofolio_cell{
	width: 100%;
	height: 500px;
	margin-bottom: 35px;
}
.space{
	padding-bottom: 50px
;}
.portofolio_cell_slider{
	height: 500px;
}
.portofolio_cell_slider:hover{
	transform:translateY(-100px);
	-webkit-transition: -webkit-transform .5 ease-in-out;
}
.contact_cell{
	width: 100%;
	padding-bottom: 50px;
		-webkit-transition: -webkit-transform .5 ease-in-out;
}
.slide_down_2{
	padding-top: 0px;
}

}
@media only screen and (max-width: 500px){
.ultimate_slider{
	height: 150px;
}
.slide_wrapper_1_title{
	font-size: 28px;
}
.slide_wrapper_2_title{
		font-size: 28px;
}
.slide_wrapper_3_title{
		font-size: 28px;
}
.portofolio{
	padding-top: 100px;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
	padding-bottom: 0px;
}
.portofolio_cell{
	width: 100%;
	height: 400px;
}
/* laba */
.portofolio_cell_slider{
	height: 400px;
}
.below{
	margin-top:-10px;
}
.below_text{
	padding-top: 25px;
}
.portofolio_cell_slider:hover{
	transform:translateY(-50px);
	-webkit-transition: -webkit-transform .5 ease-in-out;
}
.stay_put{
	height: 400px;
}
.light_box{
	font-size: 13px;
}



}